<h1><%= @board.name %></h1>
<div class="row">
<h3>Budget $1,000,000</h3> 
<h3>Remaining $ 598,898</h3>
  <div class="col-md-8 vision-board">
    <% @board.images.each do |image|%>
     <%= image_tag image.large.imageUrl, class: 'vision-image' %>
    <% end %>
  </div>
  <div class="col-md-4 vision-selection">
    <%= form_for [@board, @board.images.build] do |f| %>
      <div class="form-group">
        <%= f.label 'Price' %>
        <%= f.text_field :image_price %>
      </div>
      <div class="form-group">
        <%= f.label 'Select Image' %>
        <%= f.file_field :image_url%>
        <%#= f.hidden_field :image_url_cache %>
      </div>
      <div class="form-group">
        <%= f.submit "Add Image", class: 'btn btn-success' %>
      </div>
      <% end %>
  </div> 